name: Cache Workflow

on:
  workflow_dispatch:
  push:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/demo
          key: cache-eed62be

      - name: prime-cache-eed62be
        run: echo "Cache hit = ${{ steps.cache-step.outputs.cache-hit }}"
